.professional-skills::before {
    content: "";
    position: absolute;
    bottom: 120px;
    left: -220px;
    height: 200px;
    width: 200px;
    border-radius: 14%;
    rotate: 30deg;
    border: 2px solid var(--primary);
    /* box-shadow: var(--card-shadow); */
    /* background: var(--primary-light); */
}

.professional-skills::after {
    content: "";
    position: absolute;
    bottom: 130px;
    left: -180px;
    height: 200px;
    width: 200px;
    border-radius: 14%;
    rotate: 30deg;
    background: var(--primary-light);
}

.cards__container {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.professional-skills .cards__container {
    width: 80%;
    margin-inline: auto;
}

.professional-skills .cards__container:hover .card {
    opacity: 0.38;
    transform: scale(0.95);
}

.professional-skills .cards__container>.card:hover {
    border: 2px solid rgb(239 239 239);
    opacity: 1;
    transform: scale(1.05);
}

.cards__container .card {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    min-width: 150px;
    min-height: 150px;
    width: 180px;
    border-radius: 25%;
    box-shadow: var(--card-shadow);
    transition: all 200ms cubic-bezier(0.18, 0.89, 0.74, 1.46);
    cursor: pointer;
    border: 2px solid transparent;
}

.card p {
    font-weight: 500;
}

/* .cards__container .card img {
    height: 25px;
    width: 25px;
} */

.card .icon {
    padding: 14px;
    border-radius: 50%;
    display: flex;
}

.html {
    background-color: rgba(255, 98, 0, 0.055);
}

.css {
    background-color: rgba(0, 157, 230, 0.055);
}

.javascript {
    background-color: rgba(254, 221, 35, 0.15);
}

.react {
    background-color: rgba(77, 223, 236, 0.055);
}

.mui {
    background-color: rgba(0, 157, 230, 0.055);
}

.graphql {
    background-color: rgba(255, 35, 119, 0.055);
    /* color: rgb(255, 35, 119) */
}

.apollo {
    background-color: rgba(85, 44, 167, 0.055);
}